<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Retrospection System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="text-align: center">
    <div>
        <h1>You added new retrospection!</h1>
        <h2>Your question: <span th:text="${question}"></span></h2>
        <h2>Members number: <span th:text="${membersNumber}"></span></h2>
        <a th:href="'showRetrospection?id=' + ${id}"><button class="btn btn-primary">Show this retrospection!</button></a>
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    Show statistics! <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <form class="form-horizontal" method="get" action="showStatistics">
                        <input type="hidden" name="id" value="" th:attr="value= ${id}"/>
                        <input type="hidden" name="type" value="MAD"/>
                        <input type="submit" class="btn btn-sm btn-primary" value="MAD"/>
                    </form>
                </li>
                <li>
                    <form class="form-horizontal" method="get" action="showStatistics">
                        <input type="hidden" name="id" value="" th:attr="value= ${id}"/>
                        <input type="hidden" name="type" value="GLAD"/>
                        <input type="submit" class="btn btn-sm btn-primary" value="GLAD"/>
                    </form>
                </li>
                <li>
                    <form class="form-horizontal" method="get" action="showStatistics">
                        <input type="hidden" name="id" value="" th:attr="value= ${id}"/>
                        <input type="hidden" name="type" value="NEWIDEA"/>
                        <input type="submit" class="btn btn-sm btn-primary" value="NEW IDEA"/>
                    </form>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                <span th:if="${status}">Start voting time! </span>
                <span th:if="!${status}">Change voting strategy!</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <form class="form-horizontal" method="get" action="stopAddingStickers">
                        <input type="hidden" name="id" value="" th:attr="value= ${id}"/>
                        <input type="hidden" name="voteStrategyClassName" value="OneForOneVoteStrategy"/>
                        <input type="submit" class="btn btn-sm btn-primary" value="One for one"/>
                    </form>
                </li>
                <li>
                    <form class="form-horizontal" method="get" action="stopAddingStickers">
                        <input type="hidden" name="id" value="" th:attr="value= ${id}"/>
                        <input type="hidden" name="voteStrategyClassName" value="FreeVoteStrategy"/>
                        <input type="submit" class="btn btn-sm btn-primary" value="Free voting"/>
                    </form>
                </li>
                <li>
                    <form class="form-horizontal" method="get" action="stopAddingStickers">
                        <input type="hidden" name="id" value="" th:attr="value= ${id}"/>
                        <input type="hidden" name="voteStrategyClassName" value="LimitedVotesPerMemberVoteStrategy"/>
                        <input type="submit" class="btn btn-sm btn-primary" value="Limited votes per member [10]"/>
                    </form>
                </li>
            </ul>
        </div>
        <a th:if="!${status}" th:href="'startAddingStickers?id=' + ${id}"><button class="btn btn-warning">Restart adding stickers!</button></a>
        <a th:href="'removeRetrospection?id=' + ${id}"><button class="btn btn-danger">Remove this retrospection!</button></a>
        <form style="width: 300px; margin: 0 auto; margin-top: 5px" class="form-horizontal" method="post" action="addUsersMails" enctype="multipart/form-data">
            <input class="form-control" type="file" name="file" accept=".csv"/>
            <input type="hidden" name="id" value="" th:attr="value=${id}"/>
            <input type="submit" class="form-control btn-default" value="Load mails from file!"/>
        </form>
        <a th:href="'sendTokens?id=' + ${id}"><button class="btn btn-info">Send tokens to mails!</button></a>
        <a th:if="!${status}" th:href="'sendVoteStrategy?id=' + ${id}"><button class="btn btn-info">Send vote info to mails!</button></a>
        <h2>Members tokens list:</h2>
        <table class="table table-stripped table-bordered">
            <thead>
                <tr>
                    <th>Token</th>
                    <th>Link</th>
                    <th>Mail</th>
                    <th>Add/Edit mail</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${usersList}">
                    <td><span th:text="${user.token}"></span></td>
                    <td>
                        <a th:href="'http://localhost:8080/RetrospectionSystem/retrospection?token='+${user.token}">
                        <h4>http://localhost:8080/RetrospectionSystem/retrospection?token=<span th:text="${user.token}"></span></h4>
                        </a>
                    </td>
                    <td>
                        <span th:if="${user.mail}==null">User mail is not set.</span>
                        <span th:text="${user.mail}">User mail</span>
                    </td>
                    <td>
                        <form class="form-horizontal" method="get" action="addUserMail">
                            <div class="input-group" style="margin-bottom: 5px">
                                <input type="text" class="form-control" name="mail" value="" th:attr="value=${user.mail}"/>
                            </div>
                            <input type="hidden" name="token" value="" th:attr="value=${user.token}"/>
                            <input type="hidden" name="id" value="" th:attr="value=${id}"/>
                            <input type="submit" class="form-control btn-primary" value="Save"/>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>